.wrapper{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
.logo2{
  background: #2945e3;
}
.logo {
  width: 184px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_ul {
  width: 443px;
  height: 27px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.hover:hover {
  color: #2945e3;
  transition: background-color 0.8s;
}
@media (max-width: 767px) {
  .burger {
  display: block;
}
.burger{
position: relative;
z-index: 1;
transform: rotate(90deg);
transition: transform .8s;
}
.burger{
  display: inline-block;
  width: 30px;
  height: 22px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.burger_line{
  display: inline-block;
  background-color: #2945e3;
  border: 1.5px solid #2945e3;
  width: 25px;
}
}

@media (max-width: 767px) {
  .menu {
    display: none;
  }
}