.containerFormMap{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-color: #efefef;
}
.containerForm{
    flex-flow: column;
    h3{
        margin: 15px 0 15px 0;
    }
}
.containerText{
    background-color: #bac1c4;
    text-align: center;
    h4{
        margin-bottom: 15px;
        color: #fff;
        font-family: Alegreya, serif !important;
        font-size: 23px;
        font-style: italic;
        font-weight: 400;
        letter-spacing: -0.025em;
    }
}